/* Navbar */
.navbar{
    background-color: #ffffff !important;
}
.navbar-brand img{
    width: 120px !important;
    margin: auto auto auto 70px !important;
}
.nav-link{
    margin: auto 33px !important;
    color: #000 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: 'Raleway', sans-serif !important;
}
.navbar-nav a:hover{
    color: #055CA2 !important;
}
.btn-login{
    height: 35px;
    width: 116px;
    background-color: #055CA2 !important;
    border: #055CA2 !important;
    border-radius: 5px !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
}
.btn-later{
    height: 35px;
    width: 78px;
    border-radius: 5px !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
}
.navbar-nav2 .btn{
    margin: auto 20px auto auto !important;
}
.btn-login:hover{
    background-color: #06518f !important;
}
/* stroke */
.navbar-nav.stroke a{
    position: relative;
  }
  .navbar-nav.stroke a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #055CA2;
    height: 1px;
  }
  .navbar-nav.stroke a:hover:after {
    width: 100%;
  }
  .navbar-nav.stroke .active::after {
    width: 100%;
  }
/* Navbar-end */

/* Product Section */
.accordion-item{
    border: black 1px solid !important;
}
.accordion-button:hover{
    background-color: #e5e5e5;
}
.accordion-button::after{
    width: 0px !important;
}
.buy-class img{
    width: 100px;
}
/* Product Section-end */

/* Our Program */
.title{
    display: flex !important;
    justify-content: center !important;
    margin-top: 15px !important;
    margin-bottom: 60px !important;
}
.title h1{
    font-weight: 700 !important;
    font-family: 'Raleway', sans-serif !important;
}
.our-program-card{
    margin-bottom: 90px !important;
}
.card-box{
    display: flex !important;
    justify-content: center !important;
}
.card{
    width: 19rem !important;
    border: 0 !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    transition: transform .5s; /* Animation */
    /* transition: width .5s ease 100ms */
}
.card:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    z-index: 2 !important;
    /* width: 19rem !important;
    height: 30rem !important; */
}
.card-title{
    color: #000;
    font-family: 'Raleway', sans-serif !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}
.card-text{
    height: 120px !important;
    color: var(--primary-primary-3, #777795);
    font-family: 'Raleway', sans-serif !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15px */
    margin-bottom: 45px;
    text-align: justify !important;
}
.card-deal{
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    padding-top: 10px;
    margin-bottom: 5px;
}
.card-price{
    color: var(--brand-color-2, #FD661F);
    font-family: 'Inter', sans-serif !important;
    font-size: 16.681px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 150%; /* 25.022px */
    margin-bottom: auto;
}
.discount-text{
    color: #9F9696;
    font-family: 'Inter', sans-serif;
    font-size: 14.828px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.242px */
}
.btn-join{
    height: 28px !important;
    border-radius: 5px;
    background-color: #055CA2 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal !important;
    text-transform: capitalize;
    padding: auto !important;
}
.btn-join:hover{
    background-color: #054579 !important;
}
.btn-join-class{
    height: 35px !important;
    border-radius: 5px;
    background-color: #055CA2 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal !important;
    text-transform: capitalize;
    padding: auto !important;
}
.btn-join-class:hover{
    background-color: #054579 !important;
}
/* Our Program-end */